///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//         In side this file there will be commen style for the project.             //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////


@import "./mixins";
@import "./variables";
@import "./fonts";

$r-position: relative;
$a-position: absolute;
$default-border-radius: 4px;
$default-margin-bottom: 10px;