@import "../../../styles//config";

.search_formbox{
   .form-control{
      border-color: $black;
      padding-left: 40px;
   }
}
.login-input {
   margin-bottom: 10px;
   padding: 10px;
   border: 1px solid #cccccc;
   border-radius: 3px;
   width: 100%;
 }
 
 .default-input {
   margin-bottom: 10px;
   padding: 10px;
   border: 1px solid #7c1616;
   border-radius: 3px;
   width: 100%;
 }

.search-input  {
   width: 400px;
 padding: 5px;
 border: 1px solid #ccc;
 border-radius: 4px;
 margin-right: 5px;
}