@import "../../../styles/config";
.topbar {
  padding: 15px 0;
  background-color: $header-bgcolor;
  border-bottom: 1px solid #dfdfdf;
    .cartIcon
    {
      float: right;
      display: flex;
    img
    {
      margin: 0 4px;
    }
    .faviconCount
    {
      position: relative;
      left: -6px;

      margin-bottom: 26px;
  
      color: #fe6652 !important
    }
    .cartCount
    {
      position: relative;
      left: -6px;

      margin-bottom: 26px;
  
      color: #fe6652 !important
    }
  }
}
