@import "../../../styles/config";
.topbar {
  padding: 15px 0;
  background-color: $header-bgcolor;
  border-bottom: 1px solid #dfdfdf;
    .cartIcon
    {
      float: right;
      display: flex;
    img
    {
      margin: 0 4px;
    }
    .faviconCount
    {
      position: absolute;
      top:-0.5px;
      right: 155px;
      margin: 0;
      margin-top: 0;
      margin-bottom: 0;
      color: #fe6652 !important
    }
    .cartCount
    {
      position: absolute;
      right : 123px;
      top: -0.5px;
      margin: 0;
      margin-top: 0;
      margin-bottom: 0;
      color : #fe6652 !important
    }
  }
}
